@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Righteous&display=swap');


:root {
    --primary-color: #C96868;
    --secondary-color: #7EACB5;
    --tertiary-color: #FFF4EA;
    --support-color: #FADFA1;
    --black-primary: #343131;
    --black-Secondary: #4D4D4D;
    --white: #ffffff;
    --base: #D9D9D9;
    --disable: #F2F2F2;
    --primaryLight-color: #EFD2D2;
    --Linear-primary: linear-gradient(to right, #FADFA1, #C96868);


    /* Font Sizes */
    --font-8: 0.5rem;
    --font-10: 0.625rem;
    --font-12: 0.75rem;
    --font-14: 0.875rem;
    --font-16: 1rem;
    --font-17: 1.023rem;
    --font-18: 1.125rem;
    --font-20: 1.25rem;
    --font-22: 1.375rem;
    --font-24: 1.5rem;
    --font-26: 1.625rem;
    --font-28: 1.75rem;
    --font-30: 1.875rem;
    --font-32: 2rem;

    /* Fonts */
    --righteous-font: "Righteous", serif;
    --poppins-font: "Poppins", sans-serif;
    --quicksand-font: "Quicksand", serif;
    --inter-font: "Inter", sans-serif;

    /* Font Weights */
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.footer {
    background-color: var(--secondary-color);
    font-family: var(--righteous-font);
    display: grid;
    gap: 2rem;
    padding: 2rem 3.7% 1% 3.7%;
    margin: 1.5rem 0 0 0;
    
}
.footer-main{
    width: 100%;
    display: flex;
}
.footer-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-logo-container{
    width: 40%;
}
.footer-logo{
    width: 100%;
}
.footer-copyrights{
    width: 100%;
}
.follow{
    width: 100%;
    display: flex;
    align-items: center;
}
.follow-title{
    width: 30%;
    color: var(--white);
    font-size: var(--font-16);
}
.follow-social{
    width: 100%;
}
.footer-copyrights-container{
    font-size: var(--font-14);
    width: 100%;
    color: var(--white);
}
.footer-right{
    width: 100%;
    display: grid;
    gap: 1.5rem;
}
.footer-right-top{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20%;
}
.footer-right-bottom{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20%;
}
.footer-right-container{
    width: 10rem;
    display: grid;
    gap: 0.5rem;
}
.footer-conainer-title{
    color: var(--tertiary-color);
    font-size: var(--font-14);
}
.footer-nav{
    width: 100%;
    list-style-type: none;
    display: grid;
    gap: 0.5rem;
}
.footer-nav-link{
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-12);
}
.footer-nav-link:hover{
    color: var(--black-Secondary);
    text-decoration: none;
}
.pegasus-copyright{
    width: 100%;
    text-align: center;
    color: var(--white);
    font-size: var(--font-12);
}
@media screen and (max-width: 480px) {
    .footer {
        padding: 1.5rem 2%;
        display: grid;
        gap: 1.5rem;
    }
    .footer-main {
        display: grid;
        gap: 2rem;
    }
    .footer-left {
        width: 100%;
        display: grid;
        gap: 1rem;
    }
    .footer-logo-container {
        text-align: center;
        height: 2.5rem;
    }
    .footer-logo {
        width: 50%;
        margin: 0 auto;
    }
    .follow {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .follow-title {
        width: 100%;
        font-size: var(--font-14);
    }
    .follow-social {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .footer-copyrights-container {
        font-size: var(--font-12);
        text-align: center;
    }
    .footer-right {
        width: 100%;
        display: grid;
        gap: 2rem;
    }
    .footer-right-container {
        width: 100%;
        display: grid;
        gap: 0.5rem;
    }
    .footer-conainer-title {
        font-size: var(--font-16);
        color: var(--tertiary-color);
    }
    .footer-nav {
        display: grid;
        gap: 0.5rem;
    }
    .footer-nav-link {
        font-size: var(--font-12);
    }
    .footer-nav-link:hover {
        font-size: var(--font-12);
    }
    .pegasus-copyright {
        font-size: var(--font-12);
        text-align: center;
        margin-top: 1rem;
    }
}
