.special-nav_icon {
    
    height: 24px;
    width: 24px;
    transition: transform 0.3s ease-in-out; /* Smooth transform effect */
}

.special-nav{
    padding: 0% 10%;
}

.special-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5%;
    font-family: var(--righteous-font);
}

.special-nav_item {
    list-style-type: none;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease-in-out; /* Smooth background color change */
}

.special-nav_item:hover {
    /* background-color: var(--primary-color); Change background color on hover */
}

.special-nav_link {
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-16);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth color and scale change */
}

.special-nav_link:hover {
    /* color: var(--tertiary-color); Change text color on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.special-nav_icon:hover {
    transform: rotate(360deg); /* Rotate icon on hover */
}
/* For screen widths 420px or smaller */
@media screen and (max-width: 420px) {
    .special-nav{
        padding: 0%;
    }
    .special-nav_icon {
        height: 16px;
        width: 16px;
        transition: transform 0.3s ease-in-out; /* Smooth transform effect */
    }
    .special-navbar {
        display: flex;
        flex-wrap: wrap; /* Allow wrapping of items */
        justify-content: space-between; /* Distribute items across the space */
        gap: 0.4rem; /* Adjust the gap between items */
    }

    .special-nav_item {
        width: calc(50% - 0.5rem); /* Set width to 50% minus half of the gap for spacing */
        height: auto; /* Adjust height automatically */
        text-align: center;
        height: 2rem;
    }

    .special-nav_link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        font-size: var(--font-12); /* You can reduce the font size for smaller screens */
    }
}
@media screen and (max-width: 480px) {
    .special-nav{
        padding: 0%;
    }
    .special-nav_icon {
        height: 16px;
        width: 16px;
        transition: transform 0.3s ease-in-out; /* Smooth transform effect */
    }
    .special-navbar {
        display: flex;
        flex-wrap: wrap; /* Allow wrapping of items */
        justify-content: space-between; /* Distribute items across the space */
        gap: 0.4rem; /* Adjust the gap between items */
    }

    .special-nav_item {
        width: calc(50% - 0.5rem); /* Set width to 50% minus half of the gap for spacing */
        height: auto; /* Adjust height automatically */
        text-align: center;
        height: 2rem;
    }

    .special-nav_link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        font-size: var(--font-12); /* You can reduce the font size for smaller screens */
    }
}
