/* Base Styles for Dots */
.dot {
    width: 0.6rem; /* Same size for all devices */
    height: 0.3rem; /* Same size for all devices */
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  /* Active Dot */
  .dot.active {
    background-color: #7EACB5;
    transform: scale(1.2); /* Slightly enlarge the active dot */
    border-radius: 12px; /* Make it a rounded rectangle */
    width: 0.8rem; /* Consistent width for active dots */
    height: 0.3rem; /* Consistent height for active dots */
  }
  
  /* Hover Effect for Dots */
  .dot:hover {
    background-color: #444;
    transform: scale(1.2); /* Enlarge on hover */
  }
  
  
  .carousel.carousel-slider{
    border-radius: 10px;

  }
  .carousel{
    height: 16rem;
    width: 100%;
  }
  .carousel-slider{
    height: 100%;
  }

  /* Custom Dots Container */
  .carousel-dots {
    display: flex;
    justify-content: space-between;
    gap: 10%; /* Consistent gap for all devices */
    width: 100%;
    max-width: 6%; /* Adjust as necessary for design */
  }
  
  .dot-manage {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Space between carousel and dots */
    position: relative;
    top: 3px; /* Move dots slightly outside the carousel */
  }
  .carousal-image{
    height: 100%;
  }
  /* Remove Dot Resizing in Media Queries */
  @media screen and (max-width: 480px) {
    .dot, .dot.active {
      width: 0.6rem; /* Same size on all devices */
      height: 0.3rem;
    }
    .carousel.carousel-slider{
      border-radius: 10px;
      height: 5.5rem;
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .dot, .dot.active {
      width: 0.6rem; /* Same size on all devices */
      height: 0.6rem;
    }
  }
  @media only screen and (min-width: 2560px) {
    .dot, .dot.active {
      width: 0.6rem; /* Same size on all devices */
      height: 0.6rem;
    }
    .carousel{
      height: 13rem;
      width: 100%;
    }
    .carousel-slider{
      height: 100%;
    }
  }
  